@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
  font-family: var(--font-fredoka);
  background-image: url("/bg-noise.png");
  background-repeat: repeat;
  background-blend-mode: difference;
  background-size: 200px;
}

:root {
  --background: #fdf9eb;
  --polkadot: #ffe8cb;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --polkadot: rgb(24 24 27);
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    @apply text-secondary dark:text-white;
  }
}

@layer components {
  .border-style {
    @apply border-dashed dark:border-solid dark:border-transparent border-secondary/10;
  }

  .post-page {
    @apply prose prose-p:font-bold prose-p:font-manrope dark:prose-p:text-white/60 prose-p:text-secondary/50 prose-p:text-base prose-p:mt-3 prose-p:mb-4 prose-p:text-pretty prose-hr:my-4 dark:prose-hr:border-white prose-hr:border-secondary/40 prose-h3:leading-8 prose-h3:mt-3 prose-h3:mb-2 dark:prose-h3:text-white prose-h3:text-secondary/70 prose-figure:mt-5 prose-figure:mb-4 prose-img:rounded-[20px] prose-img:overflow-hidden prose-figure:rounded-[32px] prose-figure:p-4 prose-figure:shadow-inner dark:prose-figure:shadow-zinc-700/80 prose-figure:shadow-secondary/15 prose-figure:min-h-[180px] prose-lg prose-blockquote:text-secondary/60 prose-blockquote:border-secondary/50 prose-blockquote:py-3 prose-figure:flex prose-figure:flex-col prose-figure:items-center prose-figure:gap-1 prose-a:text-secondary prose-a:text-sm;
  }

  .post-page {
    legend {
      @apply text-sm text-secondary;
    }
  }

  .scroll-top {
    @apply fixed flex items-center justify-center bottom-12 right-12 h-[45px] w-[45px] rounded-full shadow-inner shadow-secondary/10 dark:shadow-zinc-700 dark:bg-zinc-900/40 bg-secondary/[0.01] hover:bg-secondary/[0.02] cursor-pointer;
  }

  .shadowed-text {
    font-size: 64px;
    font-weight: bold;
    color: rgba(71, 9, 0, 0.3);
    text-shadow: 3px 3px 2px rgba(71, 9, 0, 0.15);
    line-height: 0.8em;
  }
}
